body {
    font-family: Arial, sans-serif;
}

.input-cuadrante {
    margin-bottom: 15px;
}

.input-cuadrante input{
    padding: 7px;
}

.formulario button {
    padding: 10px 20px;
    background-color: #0105ff;
    border-radius: 10px;
    color: white;
    border: none;
    cursor: pointer;
}

.formulario button:hover {
    background-color: #0003c0;
}


table {
    border-collapse: collapse;
    margin: 20px 0;
}

table,
th,
td {
    border: 1px solid black;
}

th,
td {
    padding: 8px;
    text-align: center;
}

td{
    min-width: 80px;
}

th {
    background-color: #669bbc;
}

tbody tr:not(:last-child) {
    margin-bottom: 10px; /* Ajusta el valor según sea necesario */
}

tbody tr td {
    padding-bottom: 10px; /* Si prefieres un espacio interno */
}