body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
    margin: 0;
    padding: 20px;
}

a {
    text-decoration: none;
    color: #0056b3;
    font-weight: bold;
}

a:hover {
    text-decoration: underline;
}

.input-cuadrante {
    margin-bottom: 15px;
}

.input-cuadrante input {
    padding: 7px;
}

.formulario button {
    padding: 10px 20px;
    background-color: #0105ff;
    border-radius: 10px;
    color: white;
    border: none;
    cursor: pointer;
}

.formulario button:hover {
    background-color: #0003c0;
}

caption {
    background-color: #99b0be;
    padding: 8px;
    font-weight: bolder;
    border: 1px solid black;
    border-bottom: none;
}

table {
    border-collapse: collapse;
    margin: 20px 0;
}

table,
th,
td {
    border: 1px solid black;
}

th,
td {
    padding: 8px;
    text-align: center;
}

td {
    min-width: 16px;
}

th {
    background-color: #669bbc;
}

@media print {
    #cuadrante {
        page-break-before: always;
        page-break-after: always;
    }
}